<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBQnX1jPW7oOVbO9OBEkZWVZfvszjxjzy4</string>
	<key>GCM_SENDER_ID</key>
	<string>107130246683</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.goChitChat.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>gochitchat-90be8</string>
	<key>STORAGE_BUCKET</key>
	<string>gochitchat-90be8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:107130246683:ios:caeddeb02d8de374708abe</string>
</dict>
</plist>